@import "../../../common/include-media";
@import "../../../common/variables";


.flexbox-layout__container {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
}

.flexbox-layout__container > {
  .flexbox-layout-panel {
    flex: 1 100%;
    padding: 10px;
    margin: $panel-gap;
    border: solid $border-with-thin $color-light-gray;
  }

  .flexbox-layout__sidebar {
    flex: 1 0 0;
  }
}

@mixin flexbox-layout-responsive-loose {
  .flexbox-layout__container > {
    .flexbox-layout__content {
      flex: 3;
      overflow-y: auto;
    }

    .flexbox-layout__nav {
      order: 1;
      overflow-y: auto;
    }

    .flexbox-layout__content {
      order: 2;
    }

    .flexbox-layout__ad {
      order: 3;
    }

    .flexbox-layout__footer {
      order: 4;
    }

    .flexbox-layout__header {
      height: $header-height;
    }

    .flexbox-layout__footer {
      height: $footer-height;
    }

    .flexbox-layout__nav, .flexbox-layout__content, .flexbox-layout__ad {
      height: calc(#{$screen-height} - #{$header-height} - #{$footer-height} - #{6*$panel-gap});
    }
  }
}

@include media('>=tablet') {
  @include flexbox-layout-responsive-loose;
}

@include media('<tablet', '>=phone', 'landscape') {
  @include flexbox-layout-responsive-loose;
}
