@import "../../../helpers/variables";

.flexbox-layout {
  &__title--des {
    color: $color-title-font;
    margin: $number-thin-e 0;
  }

  &__container {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
  }

  &__sidebar {
    flex: 1 0 0;
  }
}

.flexbox-layout-panel {
  flex: 1 100%;
  padding: 10px;
  margin: $panel-gap;
  border: solid $number-thin-a $color-light-gray;
}

@mixin flexbox-layout-responsive-loose {
  .flexbox-layout__content {
    flex: 3;
    overflow-y: auto;
    order: 2;
  }

  .flexbox-layout {
    &__nav {
      order: 1;
      overflow-y: auto;
    }

    &__ad {
      order: 3;
    }

    &__footer {
      order: 4;
      height: $footer-height;

    }

    &__header {
      height: $header-height;
      display: flex;
      justify-items: center;
      justify-content: space-between;
    }

    &__nav, &__content, &__ad {
      height: calc(#{$screen-height} - #{$header-height} - #{$footer-height} - #{6*$panel-gap});
    }
  }
}

/* Mobile phones */
@media only screen and (max-width: 767px) {
  /* Styles specific to mobile phones go here */
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles specific to tablets go here */
}

/* PCs */
@media only screen and (min-width: 1024px) {
  /* Styles specific to PCs go here */
}

//@include media('>=tablet') {
//  @include flexbox-layout-responsive-loose;
//}
//
//@include media('<tablet', '>=phone', 'landscape') {
//  @include flexbox-layout-responsive-loose;
//}

