$panel-gap: 1px;
$panel-margin: 10px;
$panel-padding: 10px;
$header-height: 60px;
$footer-height: 60px;
$screen-height: 100vh;
$color-light-gray: #dcdedf;
$number-thin-a: 1px;
$number-thin-b: 2px;
$number-thin-c: 3px;
$number-thin-d: 4px;
$number-thin-e: 5px;

$border-thin-gray: solid 1px #aaaaaa;

$panel-background-color: #ffffff;
$color-title-font: #111111;
